

&axp2585 {
           	interrupt-parent = <&gpio0>;
           	interrupts = <26 2>;
			status = "okay";
			device_type = "pmu0";
			compatible = "axp2585";
			reg = <0x34>;
			pmu_id = <0x9>;
			pmu_vbusen_func = <0x0>;
			pmu_reset = <0x0>;
			pmu_irq_wakeup = <0x1>;
			pmu_hot_shutdown = <0x1>;
			pmu_inshort = <0x1>;
            powerkey@0 {
				status ="okay";
				device_type = "powerkey0";
				compatible = "axp2585-powerkey";
                                  };

			charger@0 {
				status = "okay";
				device_type = "charger0";
				compatible = "axp2585-charger";
				pmu_chg_ic_temp = <0x0>;
				pmu_battery_rdc = <0x64>;
				pmu_battery_cap = <0x1068>;
				pmu_runtime_chgcur = <0x1c2>;
				pmu_suspend_chgcur = <0x5dc>;
				pmu_shutdown_chgcur = <0x5dc>;
				pmu_init_chgvol = <0x1068>;
				pmu_on_ctl = <0x9>;
				pmu_boost_en = <0x1>;
				pmu_boost_cur_limit = <0x5dc>;
				pmu_boost_vol_limit = <0x1406>;
				pmu_boost_vol_hold = <0xa28>;
				pmu_ac_vol = <0xfa0>;
				pmu_ac_cur = <2500>;
				pmu_usbpc_vol = <0x1130>;
				pmu_usbpc_cur = <0x1f4>;
				pmu_battery_warning_level1 = <0xf>;
				pmu_battery_warning_level2 = <0x0>;
				pmu_chgled_func = <0x0>;
				pmu_chgled_type = <0x0>;
				power_start = <0x0>;
				pmu_ocv_en = <0x1>;
				pmu_cou_en = <0x1>;
				pmu_update_min_time = <0x1e>;
				pmu_bat_para1 = <0x0>;
				pmu_bat_para2 = <0x0>;
				pmu_bat_para3 = <0x0>;
				pmu_bat_para4 = <0x0>;
				pmu_bat_para5 = <0x0>;
				pmu_bat_para6 = <0x0>;
				pmu_bat_para7 = <0x0>;
				pmu_bat_para8 = <0x0>;
				pmu_bat_para9 = <0x5>;
				pmu_bat_para10 = <0x8>;
				pmu_bat_para11 = <0x9>;
				pmu_bat_para12 = <0xa>;
				pmu_bat_para13 = <0xd>;
				pmu_bat_para14 = <0x10>;
				pmu_bat_para15 = <0x14>;
				pmu_bat_para16 = <0x21>;
				pmu_bat_para17 = <0x29>;
				pmu_bat_para18 = <0x2e>;
				pmu_bat_para19 = <0x32>;
				pmu_bat_para20 = <0x35>;
				pmu_bat_para21 = <0x39>;
				pmu_bat_para22 = <0x3d>;
				pmu_bat_para23 = <0x43>;
				pmu_bat_para24 = <0x49>;
				pmu_bat_para25 = <0x4e>;
				pmu_bat_para26 = <0x54>;
				pmu_bat_para27 = <0x58>;
				pmu_bat_para28 = <0x5c>;
				pmu_bat_para29 = <0x5d>;
				pmu_bat_para30 = <0x5e>;
				pmu_bat_para31 = <0x5f>;
				pmu_bat_para32 = <0x64>;
				pmu_bat_temp_enable = <0x1>;
				pmu_bat_charge_ltf = <0x8d5>;
				pmu_bat_charge_htf = <0x184>;
				pmu_bat_shutdown_ltf = <0xc80>;
				pmu_bat_shutdown_htf = <0xed>;
				pmu_bat_temp_para1 = <0x1d2a>;
				pmu_bat_temp_para2 = <0x1180>;
				pmu_bat_temp_para3 = <0xdbe>;
				pmu_bat_temp_para4 = <0xae2>;
				pmu_bat_temp_para5 = <0x8af>;
				pmu_bat_temp_para6 = <0x6fc>;
				pmu_bat_temp_para7 = <0x5a8>;
				pmu_bat_temp_para8 = <0x3c9>;
				pmu_bat_temp_para9 = <0x298>;
				pmu_bat_temp_para10 = <0x1d2>;
				pmu_bat_temp_para11 = <0x189>;
				pmu_bat_temp_para12 = <0x14d>;
				pmu_bat_temp_para13 = <0x11b>;
				pmu_bat_temp_para14 = <0xf2>;
				pmu_bat_temp_para15 = <0xb3>;
				pmu_bat_temp_para16 = <0x86>;
			};
		};

